pipeline/PL_ADLS_TO_SNOWFLAKE_LOAD.json
{
	"name": "CopyDataFromADLSToSNowFlake",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata for normalized fiolder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedTextGetMetadataInput",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Get Metadata for transformed folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedTextGetmetadataFortransformedData",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachForNormalizedFolder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata for normalized fiolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata for normalized fiolder').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variableForNormalizedFolder",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_allFiles",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEachForTransformedFolder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata for transformed folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata for transformed folder').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variableForTransformedFolder",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_allFiles",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "LoopingThroughEachFile",
				"description": "Appending both folders and looping through each file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEachForNormalizedFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ForEachForTransformedFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('var_allFiles')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "CopyDataFromADLSToSnowFlake",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "TransformingTheFileNametoSnoFlakeTableName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "SnowflakeTosendCSVfilesfromADLS",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat(\n  'USE DATABASE ADLS_SNOWFLAKE_INTEGRATION_DB;',\n  ' USE SCHEMA DATAADLS_MIGRATION;',\n  'COPY INTO ADLS_SNOWFLAKE_INTEGRATION_DB.DATAADLS_MIGRATION.', \n   variables('var_tablename'),\n  ' FROM @STAGE_AZURE_CONTAINER/',\n  variables('var_currentFileName'),\n  ' FILE_FORMAT = (TYPE = CSV, FIELD_OPTIONALLY_ENCLOSED_BY = ''\"'', SKIP_HEADER = 1)',\n  ' ON_ERROR = CONTINUE;'\n)\n\n\n\n",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "CurrentFileNameFromADLS",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_currentFileName",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "TransformingTheFileNametoSnoFlakeTableName",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "CurrentFileNameFromADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_tablename",
								"value": {
									"value": "@toUpper(substring(item().name, 0, lastIndexOf(item().name, '_')))\n",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"onearrayouput": {
				"type": "Array"
			},
			"var_allFiles": {
				"type": "Array"
			},
			"allFiles": {
				"type": "Array"
			},
			"var_currentFileName": {
				"type": "String"
			},
			"var_tablename": {
				"type": "String"
			}
		},
		"annotations": []
	}
}